@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.root {
  width: 100%;
  /* background-color: grey; */
  font-family: 'Noto Sans JP', sans-serif;
}

.product {
  padding: 5px;
  /* background-color: green; */
}

.image-cover {
  border-radius: 2%;
  /* background-color: orange; */
}

.image {
  width: 250px;
  height: 250px;
  border-radius: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-bar {
  height: 25px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
}

/* .logo {
}*/

.close-btn {
  cursor: pointer;
}

.content {
  height: 160px;
  overflow-x: hidden;
  overflow-y: auto;
  /* background-color: yellow; */
  margin-bottom: 2px;
}

.name {
  font-weight: bold;
  font-size: 16px;
}

.description {
  font-size: 13px;
  color: #939393;
}
.action {
  padding: 2px;
  /* background-color: grey; */
}

.buy-now {
  width: 100%;
  display: block;
  padding: 0.75em 1.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2%;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  color:#FFFFFF;
  background-color:#3369ff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.buy-now:hover {
  cursor: pointer;
}

.buy-now:active {
  box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

.placeholder {
  display: flex;
  justify-content: center;
  height: 500px;
}

.placeholder-text {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #939393;
}

.paginator {
  display: flex;
  justify-content: space-between;
}

.paginator button {
  border: none;
  border-radius: 2%;
}

.paginator button:hover {
  cursor: pointer;
}

@media all and (max-width:30em){
   buy-now {
    display:block;
    margin:0.4em auto;
  }
}

/* scroll bar */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: grey;
}
